services:
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    privileged: false
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: unless-stopped
    volumes:
      - /home/armadsen/docker/mqtt/config:/mosquitto/config
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
volumes:
  mosquitto_data:
  mosquitto_log:

