timestamp_style:
  format: '%d/%m/%Y %H:%M:%S'

auth:
  enabled: true # Don't change this

tls:
  enabled: false

mqtt:
  enabled: true
  host: 192.168.1.67
  port: 1883

# Object detector is Intel GPU.
detectors:
  ov:
    type: openvino
    device: GPU

# Objector detector model
model:
  width: 300
  height: 300
  input_tensor: nhwc
  input_pixel_format: bgr
  path: /openvino-model/ssdlite_mobilenet_v2.xml
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt

face_recognition:
  enabled: true
  model_size: large

record:
  enabled: true
  retain:
    days: 10
    mode: motion
  alerts:
    retain:
      days: 10
      mode: motion
  detections:
    retain:
      days: 10
      mode: motion

# Disable reviews in review tab in frigate
review:
  alerts:
    labels: []
  detections:
    labels: []

go2rtc:
  streams:
    Driveway:
      - rtsp://192.168.1.50:554/live1.sdp
      - ffmpeg:Driveway#video=h264#preset-vaapi
    Bryggers:
      - rtsp://192.168.1.51:554/live1.sdp
      - ffmpeg:Bryggers#video=h264#preset-vaapi
    Loft:
      - rtsp://192.168.1.52:554/live1.sdp
      - ffmpeg:Loft#video=h264#preset-vaapi

cameras:
  Driveway:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/Driveway
          input_args: preset-rtsp-restream
          roles:
            - detect
            - record
    objects:
      track:
        - person
        - dog
        - cat
      filters:
        person:
          min_area: 5000       # Minimum size in pixels (e.g. 100x50)
        dog:
          min_area: 1000       # Earlier this was 2000
          max_area: 50000
        cat:
          min_area: 1000       # Earlier this was 2000
          max_area: 50000
    motion:
      mask: 0.319,0.372,0.055,0.244,0.084,0.172,0.103,0.115,0.299,0.036
      threshold: 20
      contour_area: 8
      improve_contrast: true
  Bryggers:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/Bryggers
          input_args: preset-rtsp-restream
          roles:
            - detect
            - record
    detect:
      fps: 7 # Default is 5.
    objects:
      track:
        - person
        - dog
        - cat
        - car
      filters:
        person:
          min_area: 12000       # Minimum size in pixels (e.g. 100x50)
          threshold: 0.7       # Default is 0.7
        dog:
          min_area: 1000       # Earlier this was 2000
          max_area: 50000
          threshold: 0.6       # Default is 0.7
        cat:
          min_area: 1000       # Earlier this was 2000
          max_area: 50000
          threshold: 0.6       # Default is 0.7
    motion:
      mask: 0.684,0,0.952,0.336,0.997,0.191,0.996,0.002
      threshold: 20
      contour_area: 8
      improve_contrast: true
    zones: {}
  Loft:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/Loft
          input_args: preset-rtsp-restream
          roles:
            - detect
            - record
    objects:
      track:
        - person
        - dog
        - cat
    motion:
      enabled: true
      threshold: 10        # Sensitivity to pixel changes (lower = more sensitive). Default: 30
      contour_area: 5     # Minimum area of motion to trigger detection. Default: 10
      improve_contrast: true

version: 0.16-0
camera_groups: {}
detect:
  enabled: true
